.apod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.apod--title{
    color: #ad30db;
}

.apod--image{
    max-width: 800px;
    border-style: dotted;
    border-color: aliceblue;
    border-radius: 5%;
}

.apod--date{
    color: blanchedalmond;
}

.apod--description{
    color: aliceblue;
}